<div class="input-block">
  <h2 class="subtitle-text mb-4">Server</h2>
  <div class="input-block">

    <div class="mb-3 d-flex flex-wrap">
        <p class="common-text manage-server-label">Host name:</p>
        <p class="me-3 common-text courier-font">{{ crypto.gethost() }}</p>
    </div>

    <div class="mb-3 d-flex align-items-center">
        <p class="common-text manage-server-label">Blockchain key:</p>
        <!--input
            id="inputSKey"
            value="{{ crypto.wallet.bkey }}"
            class=" me-2 form-control common-text server-input-width"
            type="text"
            name="serverKey"
            disabled
        /-->

        <a href="{{url_for('api_v1.backup', crypto_name=crypto.crypto)}}"
                        class="common-text accent-text">Download</a>
    </div>

    {% block custom_actions %}
    {% endblock custom_actions %}

    <div class="mb-3 d-flex manage-server-status">
        <p id="server-status" class="common-text server-inactive">Server offline</p>
    </div>

  </div>
</div>