<div class="input-block">
    <h2 class="subtitle-text mb-4">Server</h2>
        <div class="d-flex ps-4 input-block">
            <div class="w-100">
                <div class="mb-3 d-flex align-items-center justify-content-start flex-wrap">
                    <p class="server-width common-text">Host name:</p>
                    <p class="me-3 common-text">{{ crypto.gethost() }}</p>
                </div>
                <div class="mb-3 d-flex align-items-center justify-content-start">
                    <p class="server-width common-text">Blockchain key:</p>
                    <!--input
                    id="inputSKey"
                    value="{{ crypto.wallet.bkey }}"
                    class=" me-2 form-control common-text server-input-width"
                    type="text"
                    name="serverKey"
                    disabled
                /-->

                    <a href="{{url_for('api_v1.backup', crypto_name=crypto.crypto)}}"
                        class="common-text accent-text">Download</a>


                </div>
                <div class="mb-3 d-flex align-items-center justify-content-start">
                    <p id="server-status" class="server-width common-text server-inactive">Server offline</p>
                </div>
            </div>
        </div>
</div>