{% extends 'wallet/page.j2' %}

{% block content %}


<div class="container overflow-auto px-5">
  <div class="row">
    <div class="col transactions-title">
      <h1 class="title-text">Transactions</h1>
    </div>
  </div>
  <div class="row">
    <div class="col common-text">
      <div class="transactions-settings-table">
        <div class="d-flex align-items-center">
          <input
            class="checkbox form-check-input me-2"
            type="checkbox"
            name="transactions"
            checked
          />
          <div class="flex-grow-1 pe-5">
            <p class="mb-1">Tx ID</p>
            <input
              class="form-control form-control-sm common-text"
              type="text"
              name="transactionID"
              value=""
            />
          </div>
        </div>
        <div class="d-flex align-items-center">
          <input
            class="checkbox form-check-input me-2"
            type="checkbox"
            name="invoice"
            checked
          />
          <div class="pe-5">
            <p class="mb-1">External invoice ID</p>
            <input
              class="form-control form-control-sm common-text"
              type="text"
              name="invoiceID"
              placeholder="ID"
            />
          </div>
        </div>



        <div class="d-flex align-items-center">
          <input
            class="checkbox form-check-input me-2"
            type="checkbox"
            name="invoice-crpt"
            checked
          />
          <div class="flex-grow-1">
            <p class="mb-1">Invoice amount (crypto)</p>
            <input
              class="transactions-invoice-input form-control form-control-sm common-text"
              type="text"
              name="invoiceCoin"
              placeholder="Amount"
            />
          </div>
        </div>

        <div class="d-flex align-items-center">
          <input
            class="checkbox form-check-input me-2"
            type="checkbox"
            name="address"
            checked
          />
          <div class="flex-grow-1 pe-5">
            <p class="mb-1">Address</p>
            <input
              class="transactions-address-input form-control form-control-sm common-text"
              type="text"
              name="address-input"
              placeholder="Destination"
            />
          </div>
        </div>
        <div class="d-flex align-items-center">
          <input
            class="checkbox form-check-input me-2"
            type="checkbox"
            name="inv-date"
            checked
          />
          <div class="pe-5">
            <p class="mb-1">Invoice date</p>
            <input
              class="form-control form-control-sm common-text"
              type="date"
              name="invoiceDate"
              placeholder="Invoice ID"
            />
          </div>
        </div>

        <div class="d-flex align-items-center">
          <input
            class="checkbox form-check-input me-2"
            type="checkbox"
            name="inv-time"
            checked
          />
          <div>
            <p class="mb-1">Invoice time</p>
            <input
              class="form-control form-control-sm common-text"
              type="time"
              name="invoiceTime"
              placeholder="Amount"
            />
          </div>
        </div>

        <div class="d-flex align-items-center">
          <input
            class="checkbox form-check-input me-2"
            type="checkbox"
            name="status"
            checked
          />
          <select
            name="statusName"
            class="form-select common-text transactions-select"
          >
            <option value="" disabled>Select status</option>
            <option value="" selected>Any status</option>
            {% for status in invoice_statuses %}
                      <option value="{{status}}">{{status}}</option>
          {% endfor %}
          </select>
        </div>

        <div class="d-flex align-items-center">
          <input
            class="checkbox form-check-input me-2"
            type="checkbox"
            name="amount-bucks"
            checked
          />
          <div>
            <p class="mb-1">Tx amount (USD)</p>
            <input
              class="form-control form-control-sm common-text"
              type="text"
              name="dollAmount"
              placeholder="Amount"
            />
          </div>
        </div>

        <div class="d-flex align-items-center">
          <input
            class="checkbox form-check-input me-2"
            type="checkbox"
            name="amount"
            checked
          />
          <div>
            <p class="mb-1">Tx amount (crypto)</p>
            <input
              class="form-control form-control-sm common-text"
              type="text"
              name="coinAmount"
              placeholder="Amount"
            />
          </div>
        </div>



        <div class="d-flex align-items-center">
          <input
            class="checkbox form-check-input me-2"
            type="checkbox"
            name="crypto"
            checked
          />
          <select
            name="cryptoName"
            class="form-select common-text transactions-select"
          >
            <option value="" disabled>Select crypto</option>
            <option value="" selected>Any crypto</option>
  {% for crypto in cryptos %}
            <option value="{{crypto}}">{{crypto}}</option>
{% endfor %}
          </select>
        </div>

        <div class="d-flex align-items-center">
          <input
            class="checkbox form-check-input me-2"
            type="checkbox"
            name="date"
            checked
          />
          <div class="pe-5">
            <p class="mb-1">Tx date</p>
            <input
              class="form-control form-control-sm common-text"
              type="date"
              name="date-input"
              placeholder="Invoice ID"
            />
          </div>
        </div>

        <div class="d-flex align-items-center">
          <input
            class="checkbox form-check-input me-2"
            type="checkbox"
            name="time"
            checked
          />
          <div>
            <p class="mb-1">Tx time</p>
            <input
              class="form-control form-control-sm common-text"
              type="time"
              name="time-input"
              placeholder="Amount"
            />
          </div>
        </div>

        <div class="d-flex align-items-center">
          <input class="checkbox form-check-input me-2" type="checkbox" style="visibility: hidden;" />
          <div>
            <p class="mb-1">Date range</p>
            <div class="d-flex" style="align-items: center;">
              <input id="daterange" name="daterange" class="form-control form-control-sm common-text me-2" type="text" />
              <a id="report-download" class="common-text accent-text">Download</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col pt-4 transactions-table-wrapper">
      <div>
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/custom-transactions.js') }}"></script>
<script>document.getElementById("transactions-link").classList.add("nav-link--active");</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/daterangepicker.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/daterangepicker.' + theme + '.css') }}" />
<script>
  $(function () {
    $('#daterange').daterangepicker({
      locale: { cancelLabel: 'Clear' },
      autoUpdateInput: false,
      ranges: {
        'Today': [moment(), moment()],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      },
      "alwaysShowCalendars": true,
      "opens": "right"
    }, function (start, end, label) {
      $(this.element[0]).val(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
      this.element[0].dataset['from_date'] = start.format('YYYY-MM-DD');
      this.element[0].dataset['to_date'] = end.format('YYYY-MM-DD');
      update_tx_table();
    });
    $('#daterange').on('cancel.daterangepicker', function (ev, picker) {
      $('#daterange').val('');
      update_tx_table();
    });
  });
</script>

{% endblock %}