
{% extends 'base.j2' %}


{% block body %}
    <div class="container login-container">
      <div class="row align-items-center h-100">
        <div class="col d-flex flex-column align-items-center justify-content-center">
          <img class="big-logo" src="{{ url_for('static', filename='images/vsys-logo.' + theme + '.png') }}" alt="logo" />
          {% for message in get_flashed_messages() %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endfor %}
          <p>Enter wallet unlock password</p></br>
          <form class="d-flex flex-column align-items-center" method="post">
            <input
              placeholder=""
              type="password"
              name="key"
              class="form-control login-input"
              id="pw1"
              requred
              autofocus
            />
            <button type="submit" class="btn button">Submit</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}