{% extends 'base.j2' %}
{% block body %}
    <div class="container login-container">
        <div class="row align-items-center h-100">
            <div class="col d-flex flex-column align-items-center justify-content-center">
            <p class="h2">404, no such page</p>
            </div>
        </div>
    </div>
{% endblock %}
