<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VSYS Wallet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/montserrat.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/courier-prime.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link id="css1" rel="stylesheet" href="{{ url_for('static', filename='css/theme.' + theme + '.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooltips.css') }}">
  </head>
  <body>
     {% block body %}{% endblock %}

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script>
      window.matchMedia('(prefers-color-scheme: dark)')?.addEventListener('change', () => {
        useMediaRequestColorScheme();
      });
      document.getElementById("themeSwitch")?.addEventListener('change', (e) => {
        is_dark = e.target.checked;
        forceColorScheme(is_dark);
      });

      function setDark() {
        document.cookie = "theme=dark; path=/";
        document.getElementById("css1").href = "{{ url_for('static', filename='css/theme.dark.css') }}";
        document.querySelectorAll('.nav-icon use').forEach((e, i) => { e.href.baseVal = e.href.baseVal.replace('.light.', '.dark.'); });
        document.querySelectorAll('.currency-logo use').forEach((e, i) => { e.href.baseVal = e.href.baseVal.replace('.light.', '.dark.'); });
        document.querySelectorAll('img.big-logo, img.menu-logo, img.bottom-bar-img ,img.htmx-indicator').forEach((e, i) => { e.src = e.src.replace('.light.', '.dark.'); });
      }

      function setLight() {
        document.cookie = "theme=light; path=/";
        document.getElementById("css1").href = "{{ url_for('static', filename='css/theme.light.css') }}";
        document.querySelectorAll('.nav-icon use').forEach((e, i) => { e.href.baseVal = e.href.baseVal.replace('.dark.', '.light.'); });
        document.querySelectorAll('.currency-logo use').forEach((e, i) => { e.href.baseVal = e.href.baseVal.replace('.dark.', '.light.'); });
        document.querySelectorAll('img.big-logo, img.menu-logo, img.bottom-bar-img, img.htmx-indicator').forEach((e, i) => { e.src = e.src.replace('.dark.', '.light.'); });
      }

      function forceColorScheme(is_dark) {
        if (is_dark) {
          setDark();
        } else {
          setLight();
        }
      }

      function useMediaRequestColorScheme() {
          if (document.cookie.match(/theme=(dark|light)/)) return;
          let is_dark = window.matchMedia('(prefers-color-scheme: dark)').matches
          document.getElementById("themeSwitch")?.setAttribute('checked', is_dark);
          if (is_dark) {
            setDark();
          } else {
            setLight();
          }
      }

      useMediaRequestColorScheme();
    </script>
  </body>
</html>
