ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0
}

p {
  margin: 0
}

a {
  display: block;
  cursor: pointer
}

a,
button,
input,
select,
option {
  transition: all 0.4s;
}


body,
dialog {
  background-color: var(--background-color);
  font-family: Montserrat, sans-serif
}

dialog {
  border-width: 2px;
  border-color: var(--accent-color);
  border-style: solid;
}

dialog::backdrop {
  background-image: linear-gradient(black);
  opacity: .9;
}

.theme-transition-overlay {
  position: fixed;
  inset: 0;
  background: var(--theme-transition-color, #000);
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s ease;
  z-index: 9999;
}

html[data-theme="light"] .theme-transition-overlay {
  --theme-transition-color: #ffffff;
}

html[data-theme="dark"] .theme-transition-overlay {
  --theme-transition-color: #000000;
}

.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: inline;
}

.htmx-request.htmx-indicator {
  display: inline;
}


/* Page Layout */

.content-container {
  min-height: 100vh;
  width: calc(100% - 100px);
  padding: 3rem;
  padding-top: 2.5rem;
  -webkit-transition: width 250ms linear;
  -o-transition: width 250ms linear;
  transition: width 250ms linear
}

.side-menu {
  position: sticky;
  flex-direction: column;
  top: 0;
  height: 100vh;
  min-width: 100px;
  padding: 32px 0 64px;
  -webkit-transition: min-width 250ms linear;
  -o-transition: min-width 250ms linear;
  transition: min-width 250ms linear
}

.side-menu.is-open+.content-container {
  width: calc(100% - 256px)
}

.side-menu.is-open {
  min-width: 256px
}

.side-menu .nav-label {
  opacity: 0;
  transform: translateX(-8px) scale(0.98);
  transition:
    opacity 150ms linear,
    transform 150ms linear;
}

.side-menu.is-open .nav-label {
  opacity: 1;
  transform: translateX(0) scale(1);
  transition-delay: 150ms;
}

.side-menu.is-open .nav-list .nav-icon {
  margin-right: 15px
}

.side-menu.is-open .arrow-button {
  -webkit-transform: translateX(225%);
  -ms-transform: translateX(225%);
  transform: translateX(225%)
}

.side-menu.is-open .menu-logo-big {
  opacity: 1;
  width: 150px;
}

.side-menu.is-open .menu-logo-small {
  opacity: 0
}

.side-menu.is-open .nav-link--active .nav-icon {
  fill: var(--accent-color)
}

.arrow-button-wrapper {
  position: relative
}

.arrow-button {
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: scaleX(-1) translateX(50%);
  -ms-transform: scaleX(-1) translateX(50%);
  transform: scaleX(-1) translateX(50%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  -o-transition: transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  padding: 0
}

.nav-list {
  padding: 0 36px 40px;
  margin-bottom: 0
}

.nav-list .nav-item:not(:last-child) {
  margin-bottom: 28px
}

.logo-thumb {
  display: grid;
  place-items: center;
  height: 54px;
}

.menu-logo {
  grid-area: 1 / 1;
}

.menu-logo-big {
  opacity: 0;
  width: 0;
}

.menu-logo-small {
  opacity: 1;
  width: 80px;
}

.bottom-bar {
  display: none;
}

.menu-close {
  display: none;
}

@media screen and (max-width: 1024px) {
  .side-menu {
    position: fixed;
    z-index: 1000;
  }

  .content-container {
    width: calc(100% - 100px);
    margin-left: 100px;
  }

  .side-menu.is-open+.content-container {
    width: calc(100% - 100px)
  }

  .title-text {
    text-align: center;
  }
}

@media (max-width: 768px) {

  .content-container {
    width: 100%;
    margin-left: 0;
    padding-bottom: 64px;
    padding-inline: 2rem;
  }

  .side-menu {
    position: fixed;
    flex-direction: column-reverse;
    inset: 0;
    min-width: 100%;
    height: 100vh;
    z-index: 2000;
    transform: translateY(100%);
    transition: transform 250ms ease;
  }

  .side-menu.is-open {
    transform: translateY(0);
  }

  .arrow-button-wrapper {
    display: none;
  }

  .bottom-bar {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    padding-inline: 16px;
    padding-bottom: 8px;
    z-index: 1500;
  }

  .bottom-bar .bottom-bar__burger {
    border: none;
    background: none;
    font-size: 2.5rem;
  }

  .logo-thumb {
    place-items: start;
    padding-left: 36px;
  }

  .side-menu.is-open .menu-logo-big {
    width: 120px;
  }

  .menu-close {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 34px;
    right: 34px;

    width: 40px;
    height: 40px;

    font-size: 24px;
    line-height: 1;

    background: transparent;
    border: none;
    color: var(--accent-color);

    cursor: pointer;
    z-index: 10;
  }
}


/* Basic Page Elements */

.title-text {
  white-space: nowrap;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin-bottom: 5rem;
}

/* Theme switcher */

.theme-switch__input {
  display: none;
}

.theme-switch__input,
.theme-switch__label {
  position: absolute;
  z-index: 1;
}

.theme-switch__box {
  position: absolute;
  top: 35px;
  right: 97px;
  opacity: 0;
}

html.menu-ready .theme-switch__box {
  opacity: 1;
}

@media (max-width: 768px) {

  .theme-switch__box {
    position: static;
    width: 50px;
    height: 26px;
    margin-left: auto;
    margin-right: 34px;
  }
}


.theme-switch__label {
  transition: background-color 200ms ease-in-out;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  text-align: center;
  background-color: #fff;
  border: 1px solid lightSlateGray;
}

.theme-switch__label span {
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
}

.theme-switch__label span::after {
  position: absolute;
  left: 2px;
  width: 20px;
  height: 20px;
  content: '';
  border-radius: 50%;
  background-color: lightGray;
  transition: all 200ms ease;
}

.theme-switch__input:checked~.theme-switch__label {
  background-color: transparent;
}

.theme-switch__input:checked:hover~.theme-switch__label span::after {
  filter: brightness(1.2);
}

.theme-switch__input:checked~.theme-switch__label span::after {
  transform: translate3d(24px, 0, 0);
}